<div id="table-scroll">
    <table id="customers">
      <thead>
          <th>Practise</th> 
      </thead>
      <tbody>
        <tr *ngFor="let practise of practises">
            <td >
                  <div id="parent">
                      <b>{{practise.practise_title}}</b>
                      <div id="rightchild">
                        <button  class = "view-downloadButton" (click)="viewBtn(practise.practise_file, practise.practise_title)">View</button>
                        <button class = "view-downloadButton" (click)="downloadBtn(practise.practise_file)">Download</button>
                      </div>
                    </div>
            </td>
          </tr>
      </tbody>
      </table>
    </div>