<mat-card class="card">
    <mat-card-header>
      <mat-card-title> <span class="codeInCard">{{course.code}}:</span> {{course.name}} </mat-card-title>
      <mat-card-subtitle><span class="codeInCard">Prof.</span> {{course.teacher}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <p>
       Check the Syllabus to get more information about the course. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button">Download Syllabus</button>
    </mat-card-actions>
  </mat-card>
  

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Exams: {{exams.length}}">
      <app-exams [exams]='exams'></app-exams>
    </mat-tab>
    <mat-tab label="Notes: {{notes.length}}">
      <app-notes [notes] = 'notes'></app-notes>
    </mat-tab>
    <mat-tab label="Assignments: {{assignments.length}}">
        <app-assignments [assignments] = 'assignments'></app-assignments>
    </mat-tab>
    <mat-tab label="Quizes: {{quizes.length}}">
        <app-quizes [quizes] = 'quizes'></app-quizes>
    </mat-tab>
    <mat-tab label="Practise : {{practises.length}}">
        <app-practises [practises] = 'practises'></app-practises>
    </mat-tab>
  </mat-tab-group>