<mat-card class="card">
    <mat-card-header>
      <mat-card-title> <span class="codeInCard">{{course.code}}:</span> {{course.name}} </mat-card-title>
      <mat-card-subtitle><span class="codeInCard">Prof.</span> {{course.teacher}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <p>
       Check the Syllabus to get more information about the course. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="{{course.syllabus}}"><button mat-button class="button">Syllabus</button></a>
    </mat-card-actions>
  </mat-card>

<!-- <div class=amazing-reviews>
  <blockquote>
    <header>
      <strong>Ullamco laboris!</strong>
      <span>, June 2</span>
      <span>By <em>Wolfman</em></span>
      <span>Letter Grade: A</span>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </blockquote>   -->


<!-- clear both will make it not float left -->
<mat-tab-group mat-align-tabs="center" style="clear:both">
    <mat-tab label="Exams: {{exams.length}}">
      <app-exams [exams]='exams'></app-exams>
    </mat-tab>
    <mat-tab label="Notes: {{notes.length}}">
      <app-notes [notes] = 'notes'></app-notes>
    </mat-tab>
    <mat-tab label="Assignments: {{assignments.length}}">
        <app-assignments [assignments] = 'assignments'></app-assignments>
    </mat-tab>
    <mat-tab label="Quizes: {{quizes.length}}">
        <app-quizes [quizes] = 'quizes'></app-quizes>
    </mat-tab>
    <mat-tab label="Practise : {{practises.length}}">
        <app-practises [practises] = 'practises'></app-practises>
    </mat-tab>
  </mat-tab-group>