<div class="topnav">
    <!-- <img src="https://www.sehir.edu.tr/tr/Documents/kurumsal-kimlik/PNG_2_Ingilizce.png"> -->
    <div class="nav-brand">
      <div class="brandStyle">
        <a href="/" class="navbar-title" ><h4>Sehir<span class ="styeluni">Uni</span>Courses</h4> </a>
      </div>
      </div>
    <a class="{{navStateCourses}}" routerLink="/" (click)="coursesClicked()">Courses</a>
    <a  class="{{navStateAbout}}" routerLink="/about" (click)="aboutClicked()">About</a>
    <a class="{{navStateContact}}" routerLink="/contact" (click)="contactClicked()">Contact</a>
  </div>