<div id="table-scroll">
<table id="customers">
  <thead>
      <th>Exams</th> 
  </thead>
  <tbody>
    <tr *ngFor="let exam of exams">
        <td>

          <div id="parent">
            <b>{{exam.exam_title}}</b>
            <div id="rightchild">
              <button  class = "view-downloadButton" (click)="viewBtn(exam.exam_file_q, exam.exam_title)">View</button>
              <button class = "view-downloadButton" (click)="downloadBtn(exam.exam_file_q)">Download</button>
            </div>
          </div>
          
        </td>
      </tr>
  </tbody>
  </table>
</div>