<div id="table-scroll">
    <table id="customers">
      <thead>
          <th>Quizes</th> 
      </thead>
      <tbody>
        <tr *ngFor="let quiz of quizes">
          <td >
            <div id="parent">
              <b>{{quiz.quiz_title}}</b>
              <div id="rightchild">
                <button  class = "view-downloadButton" (click)="viewBtn(quiz.quiz_file_q, quiz.quiz_title)">View</button>
                <button class = "view-downloadButton" (click)="downloadBtn(quiz.quiz_file_q)">Download</button>
              </div>
            </div>
            </td>
          </tr>
      </tbody>
      </table>
    </div>
    