<div id="table-scroll">
<table id="customers">
  <thead>
      <th>Practise</th> 
  </thead>
  <tbody>
    <tr *ngFor="let note of notes">
        <td >
            <div id="parent">
                <b>{{note.note_title}}</b>
                <div id="rightchild">
                  <button  class = "view-downloadButton" (click)="viewBtn(note.note_file, note.note_title)">View</button>
                  <button class = "view-downloadButton" (click)="downloadBtn(note.note_file)">Download</button>
                </div>
              </div>
        </td>
      </tr>
  </tbody>
  </table>
</div>