 
 
<!-- <app-search-course></app-search-course> -->

 <div class="button_box2"> 
    <form class="form-wrapper-2 cf">
    <input type="text" [(ngModel)]="searchText" placeholder="Search by name or code..." name="name">
    <button type="submit">Search</button>
    </form>
    </div>
<b style="color: #4CAF50">Courses: <span style="color:black">{{courses.length}}</span></b>
<div id="table-scroll">
<div *ngFor="let course of courses">
<div *ngIf="searchText == null || checkInputName(searchText, course.name) || checkInputCode(searchText, course.code)">
 <mat-card class="card" >
      <mat-card-header>
        <mat-card-title calss ="title"> <span class="codeInCard">{{course.code}}:</span> {{course.name}} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <!-- <button class="button" (click)="btnClick(course.id)">Course Details</button> -->
        <b><span style=" color:#4CAF50">Prof. </span>{{course.teacher}}</b>
        <!-- <b>View Course Details to Access course materials: <span class="codeInCard">Exams, Homeworks, Notes..etc</span></b> -->
      </mat-card-content>
      <mat-card-actions>
          <button style="float: left" class="button" (click)="btnClick(course.id)">Course Details</button>
          <!-- <button class="button" (click)="btnClick(course.id)">Course Details</button> -->

      </mat-card-actions>

    </mat-card>
  </div>
</div>
</div>


